.row {
  margin: 0;
  padding: 0;
  max-width: 1800px;
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  box-sizing: border-box;
  float: left;
  max-width: 100%;
  width: 100%;
  flex-basis: 100%;
}

@media (min-width: 540px) {
  .small-1 {
    width: calc(100% * (1 / 12));
    flex-basis: calc(100% * (1 / 12));
  }
}

@media (min-width: 540px) {
  .small-2 {
    width: calc(100% * (2 / 12));
    flex-basis: calc(100% * (2 / 12));
  }
}

@media (min-width: 540px) {
  .small-3 {
    width: calc(100% * (3 / 12));
    flex-basis: calc(100% * (3 / 12));
  }
}

@media (min-width: 540px) {
  .small-4 {
    width: calc(100% * (4 / 12));
    flex-basis: calc(100% * (4 / 12));
  }
}

@media (min-width: 540px) {
  .small-5 {
    width: calc(100% * (5 / 12));
    flex-basis: calc(100% * (5 / 12));
  }
}

@media (min-width: 540px) {
  .small-6 {
    width: calc(100% * (6 / 12));
    flex-basis: calc(100% * (6 / 12));
  }
}

@media (min-width: 540px) {
  .small-7 {
    width: calc(100% * (7 / 12));
    flex-basis: calc(100% * (7 / 12));
  }
}

@media (min-width: 540px) {
  .small-8 {
    width: calc(100% * (8 / 12));
    flex-basis: calc(100% * (8 / 12));
  }
}

@media (min-width: 540px) {
  .small-9 {
    width: calc(100% * (9 / 12));
    flex-basis: calc(100% * (9 / 12));
  }
}

@media (min-width: 540px) {
  .small-10 {
    width: calc(100% * (10 / 12));
    flex-basis: calc(100% * (10 / 12));
  }
}

@media (min-width: 540px) {
  .small-11 {
    width: calc(100% * (11 / 12));
    flex-basis: calc(100% * (11 / 12));
  }
}

@media (min-width: 540px) {
  .small-12 {
    width: calc(100% * (12 / 12));
    flex-basis: calc(100% * (12 / 12));
  }
}

@media (min-width: 768px) {
  .medium-1 {
    width: calc(100% * (1 / 12));
    flex-basis: calc(100% * (1 / 12));
  }
}

@media (min-width: 768px) {
  .medium-2 {
    width: calc(100% * (2 / 12));
    flex-basis: calc(100% * (2 / 12));
  }
}

@media (min-width: 768px) {
  .medium-3 {
    width: calc(100% * (3 / 12));
    flex-basis: calc(100% * (3 / 12));
  }
}

@media (min-width: 768px) {
  .medium-4 {
    width: calc(100% * (4 / 12));
    flex-basis: calc(100% * (4 / 12));
  }
}

@media (min-width: 768px) {
  .medium-5 {
    width: calc(100% * (5 / 12));
    flex-basis: calc(100% * (5 / 12));
  }
}

@media (min-width: 768px) {
  .medium-6 {
    width: calc(100% * (6 / 12));
    flex-basis: calc(100% * (6 / 12));
  }
}

@media (min-width: 768px) {
  .medium-7 {
    width: calc(100% * (7 / 12));
    flex-basis: calc(100% * (7 / 12));
  }
}

@media (min-width: 768px) {
  .medium-8 {
    width: calc(100% * (8 / 12));
    flex-basis: calc(100% * (8 / 12));
  }
}

@media (min-width: 768px) {
  .medium-9 {
    width: calc(100% * (9 / 12));
    flex-basis: calc(100% * (9 / 12));
  }
}

@media (min-width: 768px) {
  .medium-10 {
    width: calc(100% * (10 / 12));
    flex-basis: calc(100% * (10 / 12));
  }
}

@media (min-width: 768px) {
  .medium-11 {
    width: calc(100% * (11 / 12));
    flex-basis: calc(100% * (11 / 12));
  }
}

@media (min-width: 768px) {
  .medium-12 {
    width: calc(100% * (12 / 12));
    flex-basis: calc(100% * (12 / 12));
  }
}

@media (min-width: 992px) {
  .large-1 {
    width: calc(100% * (1 / 12));
    flex-basis: calc(100% * (1 / 12));
  }
}

@media (min-width: 992px) {
  .large-2 {
    width: calc(100% * (2 / 12));
    flex-basis: calc(100% * (2 / 12));
  }
}

@media (min-width: 992px) {
  .large-3 {
    width: calc(100% * (3 / 12));
    flex-basis: calc(100% * (3 / 12));
  }
}

@media (min-width: 992px) {
  .large-4 {
    width: calc(100% * (4 / 12));
    flex-basis: calc(100% * (4 / 12));
  }
}

@media (min-width: 992px) {
  .large-5 {
    width: calc(100% * (5 / 12));
    flex-basis: calc(100% * (5 / 12));
  }
}

@media (min-width: 992px) {
  .large-6 {
    width: calc(100% * (6 / 12));
    flex-basis: calc(100% * (6 / 12));
  }
}

@media (min-width: 992px) {
  .large-7 {
    width: calc(100% * (7 / 12));
    flex-basis: calc(100% * (7 / 12));
  }
}

@media (min-width: 992px) {
  .large-8 {
    width: calc(100% * (8 / 12));
    flex-basis: calc(100% * (8 / 12));
  }
}

@media (min-width: 992px) {
  .large-9 {
    width: calc(100% * (9 / 12));
    flex-basis: calc(100% * (9 / 12));
  }
}

@media (min-width: 992px) {
  .large-10 {
    width: calc(100% * (10 / 12));
    flex-basis: calc(100% * (10 / 12));
  }
}

@media (min-width: 992px) {
  .large-11 {
    width: calc(100% * (11 / 12));
    flex-basis: calc(100% * (11 / 12));
  }
}

@media (min-width: 992px) {
  .large-12 {
    width: calc(100% * (12 / 12));
    flex-basis: calc(100% * (12 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-1 {
    width: calc(100% * (1 / 12));
    flex-basis: calc(100% * (1 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-2 {
    width: calc(100% * (2 / 12));
    flex-basis: calc(100% * (2 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-3 {
    width: calc(100% * (3 / 12));
    flex-basis: calc(100% * (3 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-4 {
    width: calc(100% * (4 / 12));
    flex-basis: calc(100% * (4 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-5 {
    width: calc(100% * (5 / 12));
    flex-basis: calc(100% * (5 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-6 {
    width: calc(100% * (6 / 12));
    flex-basis: calc(100% * (6 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-7 {
    width: calc(100% * (7 / 12));
    flex-basis: calc(100% * (7 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-8 {
    width: calc(100% * (8 / 12));
    flex-basis: calc(100% * (8 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-9 {
    width: calc(100% * (9 / 12));
    flex-basis: calc(100% * (9 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-10 {
    width: calc(100% * (10 / 12));
    flex-basis: calc(100% * (10 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-11 {
    width: calc(100% * (11 / 12));
    flex-basis: calc(100% * (11 / 12));
  }
}

@media (min-width: 1200px) {
  .giant-12 {
    width: calc(100% * (12 / 12));
    flex-basis: calc(100% * (12 / 12));
  }
}

body {
  background: #252525;
  margin: 0;
}
body header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  background: rgba(5, 5, 5, 0.8);
  z-index: 999;
}
body header h1 {
  font-family: "fuggels", Courier, monospace;
  font-size: 2.3rem;
  color: white;
  align-items: center;
  padding: 0.2rem 0.3rem;
  margin: 0;
  z-index: 999;
  margin-left: 4%;
}
@media (min-width: 768px) {
  body header h1 {
    margin-left: 12%;
  }
}
body header .mobileNav {
  max-height: 0;
  display: none;
}
body header .mobileNav ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 2.12rem;
  padding: 0px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: all 1s ease-in-out;
  opacity: 0;
  transform: translateY(-100%);
}
body header .mobileNav ul li {
  margin-top: 0.3rem;
  margin-left: 0;
  padding: 1rem;
  display: block;
  list-style: none;
}
body header .mobileNav ul li a {
  color: white;
  text-decoration: none;
  font-family: "ubuntu";
}
body header .hamb {
  position: absolute;
  padding: 24px 20px;
  cursor: pointer;
  right: 4%;
}
@media (min-width: 768px) {
  body header .hamb {
    right: 12%;
  }
}
body header .hamb .hamb-line {
  background-color: white;
  display: block;
  width: 24px;
  height: 2.4px;
  position: relative;
  z-index: 999;
}
body header .hamb .hamb-line::before, body header .hamb .hamb-line::after {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}
body header .hamb .hamb-line::before {
  top: 5px;
}
body header .hamb .hamb-line::after {
  top: -5px;
}
body header .side-menu {
  display: none;
}
body header .side-menu:checked ~ nav {
  max-height: 100%;
  display: block;
}
body header .side-menu:checked ~ nav ul {
  opacity: 1;
  transform: translateY(0);
}
body header .side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
body header .side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
body header .side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(405deg);
  top: 0;
}
body header .mobileNav {
  max-height: 100%;
  display: block;
}

@media (min-width: 768px) {
  main {
    margin-left: 12%;
    margin-right: 12%;
  }
}
main img {
  width: 100%;
  padding: 0.2rem;
}
main .column1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 3.2rem;
  padding: 0.2rem;
  animation-name: einfliegenOben;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-delay: 1s;
  opacity: 0;
}
main .column2 {
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
  padding: 0.2rem;
  animation-name: einfliegenUnten;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-delay: 1s;
  opacity: 0;
}
@media (max-width: 768px) {
  main .noColumn {
    display: none;
  }
}
@media (min-width: 768px) {
  main .noRow {
    display: none;
  }
}

@keyframes einfliegenOben {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes einfliegenUnten {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@font-face {
  font-family: "fuggels";
  src: url("fonts/Fuggles-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "ubuntu";
  src: url("fonts/Ubuntu-Regular.ttf");
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */