@font-face {
    font-family: "fuggels";
    src: url("fonts/Fuggles-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "ubuntu";
    src: url("fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "bla";
    src: url("fonts/SedgwickAveDisplay-Regular.ttf");
    font-weight: 400;
}

font-face {
    font-family: "sedgewich";
    src: url("fonts/SedgwickAveDisplay-Regular");
    font-weight: 400;
}
